@import "components/fonts";
@import "components/vars";
@import "components/assist";
@import "components/layout";
@import "components/typography";
@import "icons";

// Header
@import "components/header/header";

// Footer
@import "components/footer/footer";
 
// Common
@import "components/common/buttons";
@import "components/common/forms";
@import "components/common/tables";
@import "components/common/modals";
@import "components/common/menu-opener";
@import "components/common/select-avatar-block";

// Sections
@import "components/sections/sidebar";
@import "components/sections/projects-section";
@import "components/sections/default-section";
@import "components/sections/referral-header-section";
@import "components/sections/auth";
@import "components/sections/questions";