@mixin p{
	font-size: 14px;
	line-height: 1.428;

	@media screen and (max-width: 1599px){
		font-size: 13px;
	}
}

@mixin h1{
	font-size: 20px;
	line-height: 1.2;

	@media screen and (max-width: 1599px){
		font-size: 18px;
	}

	@media screen and (max-width: 374px){
		font-size: 16px;
	}
}

@mixin h2{
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;

	@media screen and (max-width: 1599px){
		font-size: 16px;
		line-height: 18px;
	}
}

@mixin h3{
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;

	@media screen and (max-width: 1599px){
		font-size: 16px;
		line-height: 18px;
	}
}

@mixin h4{
	font-weight: 600;
	font-size: 20px;
	line-height: 1.25;
}

@mixin small-caption{
	font-size: 12px;
	line-height: 1.666;
	text-transform: uppercase;
	font-weight: 700;
}

@mixin default-ul{
	display: grid;
	grid-gap: 8px;

	li{
		padding-left: 16px;
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: var(--primary);
			position: absolute;
			left: 0;
			top: 0.65em;
		}
	}
}

body{
	font-family: var(--main-font);
	color: var(--text-color);

	@include p;
}

.section-caption{
	margin-bottom: 30px;

	&:last-child{
		margin-bottom: 0;
	}

	.sc-title{
		@include h2;
		color: var(--text-dark);
	}
}