.form{
	.input-field{
		position: relative;
		padding: 1px;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 8px;
			background: linear-gradient(180deg, #5A82F6 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(91.34deg, #2698EA 11.48%, #FFB176 53.97%, #ED5158 100.98%);
			transition: all var(--t);
			opacity: 0;
		}

		&:focus-within{
			&:after{
				opacity: 1;
			}
		}

		input,
		textarea{
			border: 0;
			appearance: none;
			background: #fff;
			border-radius: 7px;
			flex: auto;
			height: 65px;
			font-size: 16px;
			font-weight: 400;
			color: var(--text-dark);
			font-family: inherit;
			padding: 0 31px;
			outline: none !important;
			transition: all var(--t);
			width: 100%;
			box-shadow: none;
			position: relative;
			z-index: 2;

			&::placeholder{
				opacity: 1;
				color: #A6A7A9;
			}

			&:focus{
				outline: none;
			}

			@media screen and (max-width: 767px){
				padding: 0 23px;
				font-size: 15px;
			}
		}

		textarea{
			resize: none;
			height: 140px;
			padding: 31px;

			@media screen and (max-width: 767px){
				padding: 23px;
			}
		}
	}

	.select-field{
		position: relative;
		border-radius: 8px;
		padding: 1px;

		&:after{
			content: '';
			display: block;
			width: 14px;
			height: 8px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M9 1 5 5 1 1' stroke='%231F1D2B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center / contain;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 35px;
			pointer-events: none;
			z-index: 2;
		}

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 8px;
			background: linear-gradient(180deg, #5A82F6 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(91.34deg, #2698EA 11.48%, #FFB176 53.97%, #ED5158 100.98%);
			transition: all var(--t);
			opacity: 0;
		}

		select{
			background: transparent;
			appearance: none;
			border: 0;
			font-size: 16px;
			font-weight: 400;
			color: #A6A7A9;
			cursor: pointer;
			outline: none;
			position: relative;
			z-index: 2;
			background: #fff;
			min-height: 67px;
			border-radius: 7px;
			width: 100%;
			padding: 0 52px 0 31px;
			line-height: 2;

			&.selected{
				color: var(--text-dark);
			}

			option{
				line-height: 2;
				color: var(--text-dark);

				&[disabled]{
					color: #A6A7A9;
				}
			}

			@media screen and (max-width: 767px){
				padding: 0 23px;
				font-size: 15px;
			}
		}

		&:focus-within{
			&:before{
				opacity: 1;
			}
		}
	}

	.wpcf7-list-item{
		margin: 0;
	}

	.form-caption{
		font-size: 20px;
		line-height: 1.6;
		margin-bottom: 24px;
		font-weight: 500;
		color: var(--text-dark);

		&:not(:first-child){
			margin-top: 32px;
		}
	}

	.form-note{
		margin-top: 32px;
		font-size: 14px;
		line-height: 1.215;
		color: var(--text-dark);
	}

	.form-agreements{
		margin-top: 32px;
		display: grid;
		grid-gap: 16px;
	}
}

.checkbox,
.radio{
	display: block;
	margin: 0 !important;

	--padding: 20px;

	@media screen and (max-width: 575px){
		--padding: 12px;
	}

	input{
		~ .fake-label{
			padding: var(--padding);
			padding-right: calc(var(--padding) * 2 + 19px);
			position: relative;
			cursor: pointer;
			font-size: 16px;
			line-height: 1.25;
			display: block;
			transition: all var(--t);
			word-wrap: break-word;
			color: var(--text-dark);

			border: 1px solid #E8E8E8;

			@media screen and (max-width: 1599px){
				font-size: 14px;
			}

			a{
				color: var(--primary);
				font-weight: 600;

				&:hover,
				&:focus{
					text-decoration: underline;
				}
			}

			&:hover{
				background: var(--blue-100);
			}
		}
	}

	.fields-group &{
		&:first-child{
			input ~ .fake-label{
				border-radius: var(--r) var(--r) 0 0;
			}
		}

		&:not(:first-child){
			input ~ .fake-label{
				border-top: 0;
			}
		}

		&:last-child{
			input ~ .fake-label{
				border-radius: 0 0 var(--r) var(--r);
			}
		}
	}
}

.radio{
	input{
		~ .fake-label{
			&:before{
				content: '';
				display: block;
				width: 19px;
				height: 19px;
				border-radius: 50%;
				border: 1px solid #E8E8E8;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: var(--padding);
				background: #fff;
			}

			&:after{
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				background: #000;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: calc(var(--padding) + 6px);
				transition: all var(--t);
				opacity: 0;
			}
		}

		&:checked{
			~ .fake-label{
				&:after{
					opacity: 1;
				}
			}
		}
	}
}