.form{
	.input-field{
		padding: 20px;
		border-radius: var(--r);
		background: #fff;
		border: 1px solid #E8E8E8;
		transition: all var(--t);
		cursor: pointer;
		position: relative;

		.field-label{
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 10px;
			font-weight: 500;
			color: #8C8C8C;
			cursor: pointer;
		}

		input,
		textarea{
			appearance: none;
			padding: 0;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			font-family: inherit;
			color: var(--text-dark);
			font-size: 16px;
			line-height: 1.25;
			background: transparent;
			width: 100%;
			display: block;

			&:focus{
				outline: none;
			}
		}

		textarea{
			height: 80px;
			resize: none;
			margin-bottom: 23px;
		}

		.field-allowed-count{
			position: absolute;
			white-space: nowrap;
			right: 20px;
			bottom: 20px;
			font-size: 12px;
			line-height: 14px;
			font-weight: 500;
			transition: all var(--t);

			&.error{
				color: var(--red);
			}
		}

		&:focus-within{
			border-color: var(--primary);
		}

		&.disabled{
			background: #FAFAFA;
			pointer-events: none;
		}

		&.password-field{
			.forgot-link{
				font-size: 12px;
				line-height: 14px;
				font-weight: 500;
				color: var(--primary);
				position: absolute;
				right: 20px;
				top: 20px;

				&:hover,
				&:focus{
					color: var(--blue-800);
				}
			}
		}

		@media screen and (max-width: 1599px){
			padding: 16px;

			.field-label{
				margin-bottom: 8px;
			}

			input,
			textarea{
				font-size: 14px;
			}

			textarea{
				line-height: 16px;
				height: calc(16px * 5);
			}

			&.password-field{
				.forgot-link{
					right: 16px;
					top: 16px;
				}
			}

			.field-allowed-count{
				right: 16px;
				bottom: 16px;
			}
		}
	}

	.form-fields{
		display: grid;
		grid-gap: 10px;
	}
}

.checkbox,
.radio{
	display: block;
	margin: 0 !important;

	--padding: 20px;

	@media screen and (max-width: 575px){
		--padding: 12px;
	}

	input{
		~ .fake-label{
			padding: var(--padding);
			padding-right: calc(var(--padding) * 2 + 19px);
			position: relative;
			cursor: pointer;
			font-size: 16px;
			line-height: 1.25;
			display: block;
			transition: all var(--t);
			word-wrap: break-word;
			color: var(--text-dark);

			border: 1px solid #E8E8E8;

			@media screen and (max-width: 1599px){
				font-size: 14px;
			}

			a{
				color: var(--primary);
				font-weight: 600;

				&:hover,
				&:focus{
					text-decoration: underline;
				}
			}

			&:hover{
				background: var(--blue-100);
			}
		}
	}

	.fields-group &{
		&:first-child{
			input ~ .fake-label{
				border-radius: var(--r) var(--r) 0 0;
			}
		}

		&:not(:first-child){
			input ~ .fake-label{
				border-top: 0;
			}
		}

		&:last-child{
			input ~ .fake-label{
				border-radius: 0 0 var(--r) var(--r);
			}
		}
	}
}

.radio{
	input{
		~ .fake-label{
			&:before{
				content: '';
				display: block;
				width: 19px;
				height: 19px;
				border-radius: 50%;
				border: 1px solid #E8E8E8;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: var(--padding);
				background: #fff;
			}

			&:after{
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				background: #000;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: calc(var(--padding) + 6px);
				transition: all var(--t);
				opacity: 0;
			}
		}

		&:checked{
			~ .fake-label{
				&:after{
					opacity: 1;
				}
			}
		}
	}
}