.default-section{
	padding-top: 30px;
	flex: auto;
	display: flex;

	.container{
		display: flex;
		flex-direction: column;
		flex: auto;
	}

	.section-inner{
		padding: 30px;
		background: #fff;
		border-radius: var(--r) var(--r) 0 0;
		flex: auto;
	}

	@media screen and (max-width: 991px){
		padding-top: 0;

		.container{
			padding: 0;
		}

		.section-inner{
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 0;

			.table-wrapper{
				width: calc(100% + 15px * 2);
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}
}