.page-sidebar{
	background: var(--blue-1000);
	color: #fff;
	padding: 30px;

	.sidebar-section{
		margin-bottom: 60px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.sidebar-caption{
		@include small-caption;
		color: rgba(#fff, .4);
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 1599px){
		padding: 24px;

		.sidebar-section{
			margin-bottom: 40px;
		}
	}

	@media screen and (max-width: 374px){
		padding: 20px;
	}
}

.user-block{
	display: grid;
	align-items: center;
	grid-template-columns: 80px 1fr;
	grid-gap: 15px;

	.user-avatar{
		border-radius: 50%;
		padding: 10px;
		background: rgba(#fff, .1);

		img{
			display: block;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center center;
		}
	}

	.user-name{
		font-size: 20px;
		line-height: 1.2;
	}

	@media screen and (max-width: 1599px){
		grid-template-columns: 60px 1fr;

		.user-avatar{
			padding: 8px;

			img{
				width: 44px;
				height: 44px;
			}
		}

		.user-name{
			font-size: 18px;
		}
	}
}

.sidebar-nav{
	> ul{
		display: grid;
		grid-gap: 10px;

		> li{
			> a{
				padding: 15px;
				border-radius: var(--r);
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 14px;
				line-height: 1.428;
				font-weight: 500;

				.link-icon{
					width: 24px;
					height: 24px;
					display: block;
					flex: none;
					margin-right: 15px;
				}

				&:hover,
				&:focus{
					outline: none;
					background: var(--blue-900);
				}

				@media screen and (max-width: 1599px){
					padding: 12px;

					.link-icon{
						width: 20px;
						height: 20px;
						margin-right: 12px;
					}
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					background: var(--primary);
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}
		}
	}
}